---
import Layout from "@/layouts/Layout.astro";
import { LOCALES } from "@/locale";
import { MANGA } from "@/content/manga";
import { objectKeys, objectMap } from "@/utils/object";
import MangaList from "@/components/MangaList.astro";
import { displayAlias } from "@/content/aliases";

export function getStaticPaths() {
  return objectMap(LOCALES, ([locale]) => ({ params: { locale } }));
}

const locale = Astro.params.locale;
---

<Layout>
  <p>
    This website aims to document all of Tatsuki Fujimoto's works. Right now it has his known manga,
    websites and videos. Many of the earlier manga were published under the name {
      displayAlias("nagato", locale)
    }. To see why we think this is Fujimoto, go <a
      href={`/${locale}/alias/nagato`}
      class="link link-accent link-hover">here</a
    >.
  </p>
  <MangaList manga={objectKeys(MANGA)} locale={locale} />
</Layout>
