---
import { MANGA } from "@/content/manga";
import NamakuriimuLayout from "@/layouts/NamakuriimuLayout.astro";
import { displayWord, LOCALES, type Word } from "@/locale";
import { objectMap } from "@/utils/object";
import { Image } from "astro:assets";
import { getPage } from "@/utils/image";

export function getStaticPaths() {
  return objectMap(LOCALES, ([locale]) => locale).flatMap((locale) =>
    ["1", "2"].map((chapter) => ({ params: { locale, chapter } })),
  );
}

const { locale, chapter } = Astro.params;

const COMMENTS: Word[] = [
  {
    jp: "コメント、ＦＡくれるとモチベーションあがります。",
    en: "If you comment or make fanart, I'll be more motivated.",
  },
  {
    jp: "次の話で種明かし。",
    en: "All will be revealed in the next chapter.",
  },
];

const chap = parseInt(chapter);
const pages = [11, 21][chap - 1];

const title = displayWord([MANGA.pasokon.name, MANGA.pasokon.chapters![1].name][chap - 1], locale);
---

<NamakuriimuLayout title={title}>
  <div class="center">
    <a class="black" href={`/${locale}/remake/nagatotan`}>TOP</a>
    <br />
  </div>
  <center>
    <div id="manga">
      <h1>{title}</h1>
      {
        [...Array(pages).keys()].map((i) => (
          <>
            <>
              <br />
              <div class="center">
                <Image src={getPage("pasokon", chap, i + 1, locale)!} alt={`Page ${i + 1}`} />
              </div>
              <br />
            </>
          </>
        ))
      }
      {displayWord(COMMENTS[chap - 1], locale)}
      <!-- Neetel_Inside_Comment -->
      <form
        action="http://neetsha.com/inside/comment.php"
        method="post"
        accept-charset="euc-jp,us-ascii"
      >
        <a href="http://neetsha.com/inside/comment.php?id=9080">〒</a>
        <input type="hidden" name="methodid" value="1" />
        <input type="hidden" name="id" value="9080" />
        <input type="hidden" name="enc" value="0" />
        <input type="text" size="50" maxlength="256" name="comment" />
        <input type="submit" name="submit" value="コメント送信" />
      </form>
      <!-- Neetel_Inside_Comment -->
      <td> </td>
    </div>
    <div class="center">
      <a class="black" href={`/${locale}/remake/nagatotan`}>TOP</a>
      <br />
    </div>
  </center>
</NamakuriimuLayout>
