---
import type { Manga } from "@/content/manga";

interface Props {
  manga: Manga;
  className?: string;
}

const { manga, className = "" } = Astro.props;
const { published } = manga;

const TEXT = {
  published: "Published",
  "self-published": "Self-Published",
  unpublished: "Not Published",
} as const;

const CLASS = {
  published: "badge-success",
  "self-published": "badge-warning",
  unpublished: "badge-error",
} as const;
---

<div class={`badge ${CLASS[published]} ${className}`}>{TEXT[published]}</div>
