---
import { Markdown } from "astro-remote";
import Layout from "@/layouts/Layout.astro";
import { getStaticPaths as getLocalPaths } from "@/pages/[locale]/index.astro";
import { displayWord } from "@/locale";
import { MANGA, displayDate, getCover } from "@/content/manga";
import { displayAlias } from "@/content/aliases";
import { Image } from "astro:assets";
import { objectMap } from "@/utils/object";
import PublishedBadge from "@/components/PublishedBadge.astro";
import ExternalLink from "@/components/ExternalLink.astro";

export function getStaticPaths() {
  return getLocalPaths().flatMap(({ params: { locale } }) =>
    objectMap(MANGA, ([manga]) => ({ params: { locale, manga } })),
  );
}

const { locale, manga } = Astro.params;
const { name, alias, summary, summarySource, date, dateProof, jpLink, enLink, note, type } =
  MANGA[manga];
const cover = getCover(manga, locale);
---

<Layout>
  <main class="max-w-4xl space-y-4 p-2">
    <div class="flex gap-4 max-sm:flex-wrap max-sm:justify-center">
      {cover && <Image src={cover} alt="" class="h-80 w-auto max-w-none sm:h-100" />}
      <div class="flex w-full flex-col justify-center">
        <h1 class="text-primary text-2xl font-bold">{displayWord(name, locale)}</h1>
        <div class="text-secondary mt-1 mb-2 text-lg">{displayAlias(alias, locale)}</div>
        <div class="flex gap-2">
          <PublishedBadge manga={MANGA[manga]} />
          <div class="badge badge-dash">{type === "one-shot" ? "One-Shot" : "Series"}</div>
        </div>
        <div class="mt-2">{displayDate(date, locale)}</div>

        <div class="mt-4 flex flex-col space-y-1">
          {
            jpLink && (
              <ExternalLink href={jpLink} small>
                Read in Japanese
              </ExternalLink>
            )
          }
          {
            enLink && (
              <ExternalLink href={enLink} small>
                Read in English
              </ExternalLink>
            )
          }
        </div>
      </div>
    </div>

    {
      summary && (
        <div>
          <p>{displayWord(summary, locale)}</p>
          {summarySource && (
            <ExternalLink href={displayWord(summarySource, locale)} muted small>
              Source
            </ExternalLink>
          )}
        </div>
      )
    }

    <div>
      <h2 class="text-lg font-semibold">Proof of Date</h2>
      <Markdown content={displayWord(dateProof, locale)} components={{ a: ExternalLink }} />
    </div>

    {
      MANGA[manga].published === "unpublished" && (
        <div>
          <h2 class="text-lg font-semibold">Proof of Existence</h2>
          <Markdown
            content={displayWord(MANGA[manga].existenceProof, locale)}
            components={{ a: ExternalLink }}
          />
        </div>
      )
    }

    {
      note && (
        <div>
          <h2 class="text-lg font-semibold">Note</h2>
          <Markdown content={displayWord(note, locale)} components={{ a: ExternalLink }} />
        </div>
      )
    }
  </main>
</Layout>
