---
import "@/styles/global.css";
import LocaleSelector from "@/components/LocaleSelector.astro";
import type { Locale } from "@/locale";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.params.locale as Locale;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Fujimoto DB</title>
  </head>
  <body class="flex h-screen flex-col">
    <header class="navbar shadow-sm">
      <a href={getRelativeLocaleUrl(locale)} class="flex-1 text-xl font-bold">Fujimoto DB</a>
      <LocaleSelector />
    </header>
    <div class="bg-base-200 flex flex-1 justify-center sm:py-2">
      <slot />
    </div>
  </body>
</html>
