---
import "@/styles/global.css";
import LocaleSelector from "@/components/LocaleSelector.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Fujimoto DB</title>
  </head>
  <body class="flex h-screen flex-col">
    <header class="navbar shadow-sm">
      <div class="flex-1 text-xl font-bold">Fujimoto DB</div>
      <LocaleSelector />
    </header>
    <div class="flex flex-1 justify-center">
      <slot />
    </div>
  </body>
</html>
