---
import "@/styles/global.css";
import LocaleSelector from "@/components/LocaleSelector.astro";
import { displayWord, type Locale } from "@/locale";
import ExternalLink from "@/components/ExternalLink.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import Counter from "@/components/Counter.astro";

const locale = (Astro.params.locale || "en") as Locale;

const currentPath = Astro.url.pathname;

const LINKS = [
  { href: "/", en: "Manga", jp: "漫画" },
  { href: "/websites", en: "Websites", jp: "ウェブサイト" },
  { href: "/videos", en: "Videos", jp: "動画" },
] as const;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>fujimoto.fish</title>
  </head>
  <body class="flex h-screen flex-col">
    <header class="navbar shadow-sm">
      <div class="flex flex-1 items-baseline">
        <a href={getRelativeLocaleUrl(locale)} class="text-xl font-bold">fujimoto.fish</a>
        <nav class="ml-6 flex gap-4">
          {
            LINKS.map(({ href, en, jp }) => {
              const link = getRelativeLocaleUrl(locale, href);
              return (
                <a
                  class={`link link-hover font-medium ${currentPath === link ? "link-primary" : ""}`}
                  href={link}
                >
                  {displayWord({ en, jp }, locale)}
                </a>
              );
            })
          }
        </nav>
      </div>
      <LocaleSelector />
    </header>
    <div class="bg-base-200 flex flex-1 justify-center sm:py-2">
      <main class="my-4 max-w-4xl space-y-4 p-2">
        <slot />
      </main>
    </div>
    <footer class="flex items-center p-4 text-sm shadow-sm">
      <div class="flex-1">
        Contribute on <ExternalLink
          href="https://github.com/FlyingTurtle69/fujimoto.fish"
          colourClass="link-secondary">GitHub</ExternalLink
        >
      </div>
      <Counter />
    </footer>
  </body>
</html>
